<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter Your UserName"><br><br>
    <input type="text" name="First_Name" placeholder="Enter Your First Name"><br><br>
    <input type="text" name="Last_Name" placeholder="Enter Your Last Name"><br><br>
    <input type="email" name="Email" placeholder="Enter Your Email Address"><br><br>
    <input type="password" name="Password" placeholder="Enter Your Password"><br><br>
    <input type="password" name="C_Password" placeholder="Enter Confirm Password"><br><br>
     <input type="SUBMIT">
</form>
{% for msg in messages %}
<h2> {{msg}}</h2>
{% endfor %}
</body>
</html>